.timeline-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
  width: 100%;
}

.timeline-wrapper form {
  margin-top: 30px;
  background: #e9f1f6;
  width: 300px;
  height: 100px;
  padding: 20px;
}

.timeline-wrapper form textarea {
  margin: auto;
  border: 3px solid #ddd;
  resize: none;
  height: 54px;
  width: 256px;
  padding: 20px;
}

.tweet-list {
  margin-top: 30px;
  width: 50%;
}